<div class="collection">
  <a id="testArticlePopulate0" class="collection-item avatar">
    <img src="images/facebook.png" alt="" class="circle">
    <span class="title">Sheryl Sandburg's reflection about the month after her husband's passing</span>
    <p>Today is the end of sheloshim for my beloved husband—the first thirty days.<br>
       http://on.fb.me/1Idb1n1
    </p>
  </a>
  <a id="testArticlePopulate1" class="collection-item avatar">
    <img src="images/quora.png" alt="" class="circle">
    <span class="title">Explore: Listen to your user's fairy-tales</span>
    <p>A Reflection on User Oriented Collaborative Design by Ryan Louie<br>
       http://uocd.quora.com/Explore-Listen-to-your-users-fairy-tales
    </p>
  </a>
  <a id="testArticlePopulate3" class="collection-item avatar">
    <img src="images/medium.png" alt="" class="circle">
    <span class="title">7 Rules for Creating Gorgeous UI (Part 1)</span>
    <p>A non-artsy primer in digital aesthetics<br>
       https://medium.com/@erikdkennedy/7-rules-for-creating-gorgeous-ui-part-1-559d4e805cda
    </p>
  </a>
</div>
