<!DOCTYPE html>
<html>
	<head>
		<title>Beautiful Blog Bot</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	</head>
	<body>
		<div id='nav'>
			<h1>Beautiful Blog Bot</h1>
		</div>
		
		<div id='main'>
			{{{body}}}
		</div>
	</body>

	<!-- DO NOT MODIFY SCRIPT ORDER -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src='javascripts/templates/handlebars.runtime-v3.0.0.js'></script>
	<script src='javascripts/templates/templates.js'></script>
	<script type='text/javascript' src='javascripts/main.js'></script>
</html>