<!DOCTYPE html>
<html>
	<head>
		<title>Beautiful Blog Bot</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
	</head>
	<body>
		<div id='nav' class="centered">
			<h1>Beautiful Blog Bot</h1>
			<a href="https://indico.io/models">powered by indico Text Tags</a>
			<a href="https://www.linkedin.com/in/louieryan">Ryan Louie</a>
			<a href="https://github.com/youralien/BeautifulBlogBot">Github</a>
		</div>
		
		<div id='main'>
			{{{body}}}
		</div>
	</body>

	<!-- DO NOT MODIFY SCRIPT ORDER -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	<script src='javascripts/templates/handlebars.runtime-v3.0.0.js'></script>
	<script src='javascripts/templates/templates.js'></script>
	<script type='text/javascript' src='javascripts/main.js'></script>
</html>