<div class="articleContent layoutSingleColumn">
	<div>
		{{pageContent}}
	</div>
	<div class="page">
		To the casual observer, it appears that these Medium collections are displayed by plastering some white text over an image— but in response to that, I say false! There’s ever-so-subtle a gradient from the middle (black at 0% opacity) to the bottom (black at, ehhhhh maybe ‘bout 20% opacity).

		Difficult to see, but definitely there, and definitely improving legibility.

		Also notice that the Medium collection thumbnails use a slight text shadow to further increase legibility. Those guys are good!
		The net effect is Medium can layer just about any text on any image and have a readable result.
		Oh, and another thing— why does the image fade black at the bottom? For the answer to that, see Rule 1— light always comes from the top. To look most natural to our eye, the image has to be slightly darker at the bottom, just like everything else we ever see.
	</div>
</div>

