<form id="editor" action="/analyzeAnswers">
	<textarea required form="editor" rows="20" cols="100" id="inputText" placeholder="Copy the content of your blog article here.  Then, be amazed by the relevant designs and images Beautiful Blog Bot recommends!"></textarea>
	<input type="submit"></input>
</form>
<button id="testArticlePopulate">Populate presearched Article for Testing</button>
<div class="photos">
	<ul id="photos">
	</ul>
</div>
