<p>{{message}}</p>
<p id="tags"></p>
<div class="photos">
	<ul id="photos">
	</ul>
</div>
<form id="editor" action="/analyzeAnswers">
	<textarea form="editor" rows="40" cols="100" name="foo" placeholder="Copy the content of your blog article here.  Then, be amazed by the relevant designs and images Beautiful Blog Bot recommends!"></textarea>
	<input type="submit"></input>
</form>
<button id="testArticlePopulate">Populate presearched Article for Testing</button>
