/* defaults */
body {
	margin: 0;
}

p {
	margin: 15px 0;
}

/* nav bar */
div#nav {
	color: #666;
	padding: 10px 0;
	background-color: #ddd;
}

div#nav a {
	color: #666;
	margin-right: 10px;
}

div#nav a:visited {
	color: #666;
}

div#nav a:hover {
	color: #444;
}

div#nav h1 {
	display: inline-block;
	margin: 0 20px 0 15px;
}

/* main div */
div#main {
	width: 500px;
	margin-left: 15px;
}
