/* defaults */
body {
	margin: 0;
}

p {
	margin: 15px 0;
}

/* nav bar */
div#nav {
	color: #666;
	padding: 10px 0;
	background-color: #ddd;
}

div#nav a {
	color: #666;
	margin-right: 10px;
}

div#nav a:visited {
	color: #666;
}

div#nav a:hover {
	color: #444;
}

div#nav h1 {
	display: inline-block;
	margin: 0 20px 0 15px;
}

li {
	list-style: none;
}
/* main div */
div#main {
	width: 700px;
	margin: 0 auto;
}

div.photos li.photo {
	display: block;
	margin: 0 auto;
	line-height: 0;
	margin-bottom: 30px;
}
.centered {
	display: block;
	margin: 0 auto;
}

.articleContent {
	position: relative;
	font-size: 22px;
	line-height: 1.5;
	padding-top: 65px;
	margin-bottom: 30px;
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
}
